@media (max-width: 1880px) {
  .promo__text {
    font-size: 32px;
  }
}
@media (max-width: 1580px) {
  .promo__text {
    font-size: 30px;
    padding-left: 20px;
    padding-right: 10px;
  }
}
@media (max-width: 1320px) {
  .promo__text {
    font-size: 26px;
  }
  .owl-carousel .owl-nav button.owl-prev {
    left: -20px;
  }
  .owl-carousel .owl-nav button.owl-next {
    right: -20px;
  }
  .promo__wrap,
  .category__wrap {
    width: 1200px;
    max-width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: auto;
    margin-right: auto;
  }
  .promo__item {
    height: 200px;
  }
}