.promo {
  margin-bottom: 70px;
}
.promo__wrap {
  padding-left: 70px;
  padding-right: 70px;
}
.promo__list {
  .reset();
  list-style: none;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}